*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
body{
    position: relative;
    justify-content: center;
    margin: 0%;
    border: 0;
    font-family: open sans;
    text-decoration: none;
    background: url('surcharge rectangle.png') no-repeat center fixed ;
    background-size: cover;

}
header{
    background-color: #07a39360;
    position: relative;
    display: flex;
    justify-content: center;
    .logo{
        font-weight: 900;
        color: rgb(255, 255, 255);
        position: absolute;
        left: 2%;
        top: 33%;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
    li{
        color: #fff;
        text-decoration:none ;
        padding: 1em 2em ;
        font-weight: bolder;
        font-size: 16px;
        list-style-type: none;
    }
    .btn{
     position: absolute;
     display: flex;
     top: 33%;
     right: 2%;
      .btn-link{
          color: #fff;
          text-decoration: none;
          margin: 0em 2em;
          font-weight: 900;
          font-size: 16px;
          width: 100%;
          height: 100%;
      }
        
    }
    

    

}
section{
    width: 100vh;
    height: 100vh;
    margin: 5vh 5vh;
    padding: 0;
}
    .home{
    position: absolute;
    background-color: rgba(76, 70, 140, 0.61);
    height: 100vh;
    width: 100vh;
    display: block;
    justify-items: center;
    margin: 0;
    padding: 0%;
    .welcome{
        position: relative;
        display: inline-block;
        align-self: center;
        text-align: center;
            h1{
                margin: 5rem ;
                font-size: 100px;
                text-align: left;
                font-weight: 900;
            }
            p{
                margin: 5rem;
                font-size: 50px;
                text-align: left;
                font-weight: 500;
            }
            .button{
                color: #fff;
                background-color: #6c35cc ;
                width: 25vh;
                height: 5vh;
                font-size: 50px;
                position: absolute;
                left: 10vh;
                border: none;
                box-shadow: #fff 2rem 5;

            }
    }
    

}